/* GENERAL ------------------------------------ */
body {
  display: flex;
  background: rgb(249, 227, 204);
  margin: 0;
  color: #333;
  font-family: "Gruppo", Calibri, sans-serif;
}

h1 {
  text-align: center;
}

main {
  padding: 30px;
}

button {
  padding: 20px 30px;
  border: 3px solid rgb(247, 212, 224);
  border-radius: 11px;
  font-family: "Gruppo", Calibri, sans-serif;
  background: rgb(227, 176, 176);
  font-size: 16px;
  margin-top: 50px;
  transition: 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

.section {
  border-top: 2px solid rgb(222, 160, 174);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#right {
  font-family: "Gruppo", Calibri, sans-serif;
}

i {
  font-family: FontAwesome;
}

/* HEADER --------------------------------------- */
.hero {
  /* font-family: "La Belle Aurore", cursive; */
  background: linear-gradient(rgb(169, 69, 107), rgb(247, 200, 159));
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 30px 20px 30px;
  color: peachpuff;
  text-align: center;
  max-width: 200px;
}

.hero h2 {
  color: rgba(255, 218, 185, 0.756);
  margin-bottom: 0;
}

.hero h3 {
  color: rgba(255, 218, 185, 0.564);
  margin-top: 5px;
}

#headshot {
  border: none;
  border-radius: 50px;
  width: 100px;
  height: auto;
}

#iconContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 2em;
  margin-top: 50px;
}

#iconContainer a {
  color: peachpuff;
  transition: 0.5s ease;
}

#iconContainer a:hover {
  transform: scale(1.3);
}

/* ABOUT ME ------------------------------------- */
#about {
  border-top: none;
}
.photobox {
  background: url("/teddy.JPG");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#innerBox {
  text-align: center;
}

#bio {
  margin-top: 20px;
}

/* TOOLBOX -------------------------------------- */
#toolIconsDiv {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #333;
}

#toolIconsDiv i {
  font-size: 3em;
}

#vsIcon {
  height: 3em;
}

.tool {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.tool p {
  display: block;
  text-align: center;
}

/* RECENT WORK ---------------------------------- */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(auto, 300px);
  column-gap: 30px;
  row-gap: 50px;
  padding: 20px;
  /* max-height: 0; */
  transition: max-height 0.2s ease out;
}

#fullPortfolio {
  margin-top: 30px;
}

.collapsed {
  display: none;
  overflow: none;
}

.active {
  /* background: rgb(152, 119, 119); */
}

.test {
  padding: 0 18px;
  background-color: #f1f1f1;
}

.img-container {
  position: relative;
}

.thumbnail {
  opacity: 1;
  display: block;
  height: 300px;
  width: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle a {
  color: rgb(242, 227, 227);
  text-decoration: none;
}

.img-container:hover .thumbnail {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.viewButton {
  background-color: rgb(125, 70, 85);
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 10px;
  border: 1px solid rgb(169, 69, 107);
}

h4,
p {
  margin: 5px 0 0 0;
}

/* GET IN TOUCH --------------------------------- */
#contactContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  gap: 60px;
  margin-top: 20px;
}

input,
textarea {
  font-family: "Gruppo", Calibri, sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#left {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: 20px 200px auto;
  column-gap: 5px;
  row-gap: 10px;
}

#message {
  grid-column: 1 / 3;
}

#sendBtn {
  display: block;
  margin-top: 10px;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactIcon {
  display: flex;
  gap: 10px;
}

#right i {
  font-size: 1.5em;
}

#earth {
  vertical-align: middle;
  font-size: 1.5em;
}

/* MEDIA QUERIES -------------------------------- */
@media screen and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(auto, 300px);
  }
}

@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  .hero {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    max-width: 100%;
  }

  .gridContainer {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(auto, 300px);
  }

  #contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 60px;
  }
}

@media screen and (min-width: 768px) {
  .rwd-break {
    display: none;
  }
}

/* FOOTER --------------------------------------- */
