/* GENERAL ------------------------------------ */
body {
  background: peachpuff;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin: 0;
  color: #333;
  /* font-family: "Amatic SC", cursive; */
  /* font-family: "Bubbler One", sans-serif; */
  /* font-family: "Codystar", cursive; */
  /* font-family: "Covered By Your Grace", cursive; */
  /* font-family: "Cutive Mono", monospace; */
  font-family: "Gruppo", cursive;
  /* font-family: "Italiana", Calibri, serif; */
  /* font-family: "La Belle Aurore", cursive; */
  /* font-family: "Meddon", cursive; */
  /* font-family: "Montserrat Subrayada", sans-serif; */
  /* font-family: "Neucha", cursive; */
  /* font-family: "Nothing You Could Do", cursive; */
  /* font-family: "Over the Rainbow", cursive; */
  /* font-family: "Pavanam", sans-serif; */
  /* font-family: "Poiret One", cursive; */
  /* font-family: "Shadows Into Light Two", cursive; */
  /* font-family: "Yusei Magic", sans-serif; */
  display: flex;
}

main {
  padding: 30px;
}

button {
  padding: 20px 30px;
  border: 3px solid rgb(242, 227, 227);
  border-radius: 11px;
  font-family: "Gruppo", cursive;
  background: rgb(201, 143, 166);
  font-size: 16px;
}

/* HEADER --------------------------------------- */
.hero {
  /* font-family: "La Belle Aurore", cursive; */
  background: linear-gradient(rgb(169, 69, 107), rgb(247, 200, 159));
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  color: peachpuff;
  text-align: center;
}

.hero h2 {
  color: rgba(255, 218, 185, 0.756);
}

#headshot {
  border: none;
  border-radius: 50px;
  width: 100px;
  height: auto;
}

#iconContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 2em;
}

/* ABOUT ME ------------------------------------- */
.photobox {
  background: url("/teddy.JPG");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* TOOLBOX -------------------------------------- */
#icons {
  font-size: 2em;
}
/* RECENT WORK ---------------------------------- */
.img-container {
  position: relative;
  width: 50%;
}

.thumbnail {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle a {
  color: rgb(242, 227, 227);
  text-decoration: none;
}

.img-container:hover .thumbnail {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #333;
  color: whitesmoke;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px;
}

/* GET IN TOUCH --------------------------------- */
#contactContainer {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 50px;
}

input {
  font-family: "Gruppo", cursive;
}

#left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#right {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERIES -------------------------------- */
/* FOOTER --------------------------------------- */
